.cosnole-alert-toasts {
  all: revert;
  position: fixed;
  top: 12px;
  right: 32px;
  min-width: 400px;
  max-width: 400px;
  pointer-events: none;
  z-index: 100000;
  font-size: 12px !important;
  font-weight: normal !important;
  font-family:  monospace;
  /*overflow-y: clip;*/
  /*height: calc(100vh - 60px);*/
}

.cosnole-alert-toast {
  padding:  10px;
  margin:  10px;
  line-height: 14px;
  position: relative;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  transition-timing-function: ease;
  animation-duration: .3s;
  animation-name: FadeIn;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  pointer-events: all;
}

.cosnole-alert-toasts_fade-out {
  animation-name: FadeOut;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: forwards;
}

.cosnole-alert-toast__copy {
  margin: 0!important;
  position: absolute;
  top: 4px;
  right: 36px;
  color: darkgray;
  cursor: pointer;
}

.cosnole-alert-toast__close {
  margin: 0!important;
  position: absolute;
  top: 4px;
  right: 8px;
  color: orange;
  cursor: pointer;
}

.cosnole-alert-toast__message {
  white-space: pre-wrap !important; 
  word-break: break-all !important;
  margin: 0!important;
  font-size: 12px !important;
  border: none !important;
  padding: 0 !important;
  line-height: 16px !important;
  background-color: transparent !important;
}

.cosnole-alert-toast__message__title {
  font-weight: bolder;
}

.cosnole-alert-toast__message__object-title {
  cursor: pointer;
}

.cosnole-alert-toast__message__object-title:hover {
  background-color: lightgrey;
}

.cosnole-alert-toast__message__object {
  display:  none;
}

.cosnole-alert-toast__message__object_expanded {
  display: flex;
  padding: 4px;
  border: 1px solid darkgray;
  background-color: lightgrey !important;
  white-space: pre-wrap !important; 
  word-break: break-all !important;
  margin: 0!important;
  font-size: 12px !important;
  border: none !important;
  padding: 0 !important;
  line-height: 16px !important;
}

.cosnole-alert-toasts_log {
  box-shadow: 0 1px 8px black;
  background-color: whitesmoke !important;
  color: gray !important;
}

.cosnole-alert-toasts_warn {
  box-shadow: 0 1px 8px orange;
  background-color: whitesmoke !important;
  color: gray !important;
}

.cosnole-alert-toasts_error {
  box-shadow: 0 1px 8px red;
  background-color: whitesmoke !important;
  color: gray !important;
}

.cosnole-alert-toasts_info {
  box-shadow: 0 1px 8px green;
  background-color: whitesmoke !important;
  color: gray !important;
}

@keyframes FadeIn {
  from {
    transform: translate3d(800px, 0, 0);;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(800px, 0, 0);
    opacity: 0;
  }
}